<br/>
<h4> Foodbox Login </h4>
<br/>
 <form [formGroup]="loginForm" (ngSubmit)="login()">    
    <div class="form-group">
      <label for="userName">User Name:</label>
      <input type="text" class="form-control" formControlName="userName" placeholder="User Name" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
    </div>
   
<br/>
    <button class="btn btn-primary">Login</button>
  </form> 
