<div class="cmp-text-wcta__content text-typography">
    
    
    <br/>
    
    <h2> About Foodbox</h2>


    <div class="row">
        
          <img src="./assets/biryani.jpg">
          <img src="./assets/burittos.jpg">
          <img src="./assets/dumplings.jpg">
          <img src="./assets/noodles.jpg">
          <img src="./assets/pasta.jpg">
          <img src="./assets/pizza.jpg">
          <img src="./assets/rotis.jpg">
          <img src="./assets/tacos.jpg">
      
        </div>

    <br/>
    <p>Established in 2014 in Bengaluru, India. Foodbox is a restaurant
        chain that delivers food items of different cuisines
        at affordable prices.
    </p>

    <p>They serve various cuisines like Indian,Italian, Chinese and Mexican.</p>

</div>