<p>home works!</p>
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-light" style="width:280px;">
<ul class="nav nav-pills flex-column mb-auto" style="color:black;"  *ngFor="let category of categories">
<li class="nav-item">
  <a [routerLink]="['/categories',category.categoryId]"> {{category.categoryName}} </a>  
</li>
</ul>
</div>
<div class="section">
	<div class="col-sm-4" *ngFor="let food of foods">
	<div class="card">

    <h4>{{food.foodName}}</h4>
    <h4>{{food.description}}</h4>
    </div>
    </div>
    

</div>

