<div class = "container">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" >Foodbox</a>
    <a class="navbar-brand" routerLink="/about" routerLinkActive="active">About</a>
    <a class="navbar-brand" routerLink="/contact" routerLinkActive="active">Contact</a>
    <a class="navbar-brand"  routerLink="/home" routerLinkActive="active">View Food Items</a>
    <a class="navbar-brand"  routerLink="/login" routerLinkActive="active">Login</a>
    <a class="navbar-brand"  routerLink="/cart" routerLinkActive="active">Checkout cart</a>

  </nav>
<router-outlet></router-outlet>
</div>